<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.promotion.login">

    <application>
        <activity
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme"
            android:name=".ui.activity.AuthenticationActivity" />
    </application>
</manifest>