<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.promotion.login">

    <application>
        <activity
            android:name=".ui.activity.PromotionActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.AuthenticationActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>